<form action="action_page.php">
    <div class="container">
        <h1>Bank</h1>
        <hr>
        <p>
            <label>Invoice No.</label>
            <input type="number" required>
        </p>
        <p>
            <label>Distributor Details</label>
            <input type="text" required>
        </p>
        <p>
            <button>Submit</button>
        </p>


    </div>



</form>
