<form action="action_page.php">
    <div class="container">
        <h1>Create Distributor</h1>
        <hr>
        <p>
            <label for="note">Enter Note</label>
            <input type="text" required>
        </p>

        <p>
            <label for="sales entry">Sales entry</label>
            <input type="date" required>


        </p>

        <p>
            <button type="submit" class="registerbtn">Add payment docs</button>
        </p>


    </div>



</form>