<form action="action_page.php" >
    <div>
        <h1>Enter Login Details</h1>
        <hr>
        <p>

            <input type="text" placeholder="Enter Username" name="Username" id="username" required>
        </p>

        <p>

            <input type="password" placeholder="Enter Password" name="psw" id="psw" required>
        </p>
        <p>
            <button type="submit" class="btn btn-primary">Sign In</button>
        </p>
        <p>
            <label for="psw">Forgot password?</label>
        </p>
        <p>
            <label for="psw">Don't have an account? <a href="#">Create</a></label>
        </p>
       
        <label>Already have an invitation code</label> 
        
        <br />
        
        <p>
            <input type="text" placeholder="Username/Phone No." name="psw" id="psw" required>
        </p>
        <p>
            <input type="number" placeholder="Enter OTP" name="psw" id="psw" required>
        </p>
        <p>
            <button type="submit" class="btn btn-danger" >Submit</button>
        </p>

    </div>

  

</form>