<form action="action_page.php">
    <div class="container">
        <h1>Create PlaceOrder</h1>
        <hr>
        <p>
            <label for="product">Search Product</label>
            <input type="text" required>
        </p>

        <p>
            <label for="quantity">Choose a quantity</label>
            <input placeholder="" required>

            <select name="quantity" id="quantity">
                <option value="kg">Kg</option>
                <option value="gm">Gm</option>

            </select>

        </p>
       
        <p>
            <button type="submit" class="registerbtn">Add to cart</button>
        </p>


    </div>



</form>