
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/MtFuji-GettyImages-959111140.jpg" class="mx-auto d-block" alt="..." />
        </div>
        <div class="carousel-item">
            <img src="~/pexels-photo-1461974.jpeg" class="mx-auto d-block" alt="..." />
        </div>
        <div class="carousel-item">

            <img src="~/photo-1574343062782-e0251cf2589c.jpg" class="mx-auto d-block" alt="...">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<br/>
<br />
<br />

<div class="card" style="width: 18rem;">
    <img class="mx-auto d-block" src="https://images.unsplash.com/photo-1429041966141-44d228a42775?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8YnJpZGdlc3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">longest bridge</h5>
        <p class="card-text">scary to cross with girlfriend.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>