<form action="action_page.php">
    <div class="container">
        <h1>Product</h1>
        <hr>
        <p>
            <label for="name"> Name</label>
            <input type="text" required>
        </p>

        <p>
            <label for="unit">Choose a unit</label>

            <select name="unit" id="unit">
                <option value="kg">Kg</option>
                <option value="gm">Gm</option>
            </select>

        </p>
        <p>
            <label for="price_$"> Price_$</label>
            <input type="number" required>
        </p>
        <p>
            <label for="mfd_date"> Manufacture_date</label>
            <input type="date" required>
        </p>
        <p>
            <button type="submit" class="registerbtn">Submit</button>
        </p>
        

    </div>



</form>
