<form>
    <div class="container">
        <h1>Consultant</h1>
        <hr>
        <p>
            <label for="Invoice no">Invoice no</label>
            <input type="number" required>
        </p>
        <p>
            <label>Manufactured Company</label>
            <input type="text" required>
        </p>
        <label>Bank</label>
        <input type="text" required>
        </p>
        </p>
        <label>Distributor</label>
        <input type="text" required>
        </p>
        <p>
            <button type="submit" class="registerbtn">Submit</button>
        </p>


    </div>



</form>